
.resume-container {
  display: flex;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.left-column, .right-column {

  padding: 20px;
  box-sizing: border-box;
  
}

.left-column {
  border-right: 1px solid #ccc;
  background-color: rgb(176, 200, 226);
  
}

.profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.info-section {
  margin-bottom: 20px;
}

.section-header {
  font-size: 1.25rem;
  font-weight: bold;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title, .yoe, .current-employer {
  font-size: 16px;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}
